<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/bteq.css" />

    <title>BTEQ</title>
  </head>
  <body>
    <div class="grid-container">
        <header class="grid-item page_header">
            Logon and Set Width command
        </header>

        <form method="POST" class="grid-item form_lable"
                                   action="http://localhost:3000">
            <label>Logon:</label> <br />
            <input type="text" name="logon" placeholder=".logon host:port/user,pass"
                                   required /> <br />
            <label>Set Width:</label> <br />
            <input type="text"  name="set-width"
                                   placeholder=".set width 'number'" /> <br />
            <label>Select:</label> <br />
            <input type="text" name="select" placeholder="select..." /> <br />
            <input type="submit" value="Submit" />
        </form>
        <div class="grid-item output_div">
            <pre> <%= data %> </pre>
        </div>

        <footer class="grid-item page_footer">
            BTEQ is optimized for learning, testing, and training.
            Examples might be simplified to improve reading and basic
            understanding. Tutorials, references, and examples are
            constantly reviewed to avoid errors, but we cannot warrant
            full correctness of all content. While using this site, you
            agree to have read and accepted our terms of use, cookie and
            privacy policy. Copyright 1999-2019 by Refsnes
            Data. All Rights Reserved.
        </footer>
    </div>
  </body>
</html>

